.navbar {
    display: flex;
    align-items: center;

    height: 56px;
    background-color: #d1d2d4;

    .navbar-left {
        flex: 1;
    }

    .navbar-right {
        display: flex;
        flex: 1;
    }
}
