.news-banner {
    height: 165px;
    // background-image: url("../../../assets//images//home//banner.jpg");
    background-size: auto;
}

@media (max-width: 767px) {
    .news-banner {
        height: 75px;
        background-position: left;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
