.content-right {
    display: flex;
    flex-direction: column;
    .title {
        font-size: 16px;
        color: #337ab7;
    }

    .date {
        font-style: italic;
    }
}

.no-avatar {
    display: flex;
    align-items: center;

    .icon {
        width: 5px;
        height: 5px;
        background-color: red;
        border-radius: 50%;
    }
}
