.wrapper {
    box-sizing: content-box;
    // height: 100%;
    // overflow: auto;

    .top {
        padding-bottom: 8px;
    }

    .table-data {
        padding-top: 8px;
        flex: 1;
    }
}
