.wrapper {
    .category-container {
        display: flex;
        flex-direction: column;
        padding: 12px 0;

        .title {
            font-size: 16px;
            padding: 12px 24px;
            color: #fff;
            background-color: #0066b3;
            width: fit-content;
            margin-left: 8px;
            // margin-bottom: 12px;
            // border-bottom: 2px solid #0066b3;
        }

        .divider {
            margin: 8px 0;
            border-bottom: 1px solid #ececec;
        }
    }
}
